html,
body {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    /* height: 100%; */
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Libre Caslon Display', serif;
    color: black;
    z-index: 10;
    /* border: dashed green 3px; */
}

h1, h2, h3, h4, h5 {
    font-family: 'Libre Caslon Display', serif;
}

a:link {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: lightgrey;
}
.nav {
    position: sticky;
    height: 7vh;
    display: flex;
    align-items: center;
    z-index: 9999;
    background-color: white;
    margin: 0px;
    padding: 0px;
    /* border: dashed red 3px; */
}

.nav-item {
    height: 100%;
    display:flex;
    align-items: center;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: #5d611f;
}

.active {
    background-color: lightgrey;
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.push_right {
    margin-left: auto;
}

.push_left {
    margin-right: auto;
}

.centre {
    margin-left: auto;
    margin-right:auto;
}



@media only screen and (max-width:600px) {
    nav. {
        font-size: .5em;
        padding: 0;
    }
}

.cover {
    display: flex;
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;
    /* border: dashed pink 3px; */
}

.hero-image {
  background-image: url("img/cover.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.container-fluid {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    /* border: solid purple 3px; */
}

.container-content {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    margin: auto;
    min-height: 80vh;
    width: 60%;
    padding: 0px;
    padding-bottom: 50px;
     /* border: solid blue 3px; */
}

.container-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    /* height:80vh; */
    margin: 0;
    padding: 0;
}

.container-section > image-fade {
    max-height: 50vh;
}

.text-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    /* border: solid green 3px; */
}

.gradient {
    background-image:  linear-gradient(to bottom, rgb(93, 97, 31,.6) ,rgb(93, 97, 31,0)  );
    height:auto;
    width: .5%;
    margin-right: 20px;
    /* border:dashed blue 3px; */ */
}

.text-heading {
    margin: 0px;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    position:sticky;
    top: 50px;
    z-index: 9990;
    /* border: dashed red 3px; */
}

.text-body {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: auto;
    width: 99.5%;
    padding: 0px;
    font-size: 1.3em;
    /* border: solid red; */
}

.card-columns {
    padding: 20px;
    padding-top: 100px;
    width: 95%;
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}

.card-deck1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
    width: 95%;
    margin-top: 50px;
}

.card-deck2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2rem;
    width: 65%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    cursor: pointer;
    transition: all .5s linear;
    border-radius: 20px;
}

.card-img-top {
    border-radius: 20px 20px 0px 0px;
}

.card-img {
    border-radius: 20px 20px 20px 20px;
}

.card:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.box {
    background-color: #ddddee;
    padding: 130px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: auto;
}

.box > img {
    width:100%
}

.box:hover {
    transform: scale(.9);
    box-shadow: 4px 4px 4px #888888;
}

.bounce {
  -moz-animation: bounce 4s infinite;
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.footer {
    height: 7vh;
    text-align: center;
    background-color: white;
    color: black;
    /* border: solid green 3px; */
}

.zone {
    /* padding:30px 50px; */
    /* margin:40px 60px; */
    cursor:pointer;
    /* background-color: #5d611f; */
    /* color:#FFF; */
    font-size:1em;
    transition: all .5s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}




/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green{
    background: #5d611f; /* Old browsers */
    background: -moz-linear-gradient(top, #5d611f 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d611f), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5d611f 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5d611f 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5d611f 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(top, #5d611f 0%,#a5c956 100%); /* W3C */
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}

 .carousel {
    margin-top: 50px;
    height: 80vh;
    /* border: dashed green; */
}

.carousel-item {
    background: black;
}

.carousel-item img {
    max-height: 600px;
    width:auto;
    margin-left: auto;
    margin-right: auto;
}

.container-fade{
  position: relative;
  width: 100%;
}

.image-fade{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 3s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-fade:hover .image-fade {
  opacity: 0.3;
}

.container-fade:hover .middle {
  opacity: 1;
}

.text-fade {
    color: black
}

.text-fade > h1 {
    font-size: 3vw;
}

.text-fade > p {
    font-size: 1vw;
}

.data_vis_large {
    width: 35vw;
    border: solid lightgrey 1px;
    align-self: center;
    transition: all .5s linear;
}

.data_vis_large:hover {
    transform: scale(1.4);
    z-index: 9999;
}

.data_vis_small {
    width: 50vw;
    border: solid lightgrey 1px;
    align-self: center;
    transition: all .5s linear;
}

.data_vis_small:hover {
    transform: scale(1.4);
    z-index: 9999;
}
